.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.screen {
  background-color: white;
  color: black;
  height: 100px;
  width: 440px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 20px rgba(0,0,0,0.19);
  padding-right: 20px;
  border-radius: 20px;
  margin: 20px 0;
}
.button-wrapper {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
  margin: 10px;
  -webkit-appearance: none;
}
.button-wrapper:hover{
  background-color: grey;
}
.buttons-row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-large-width {
  width: 220px;
  border-radius: 100px;
}

.button-orange {
  background-color: orange;
}

.button-white {
  background-color: mintcream;
  color: black;
}
@media only screen and (max-width:550px){
  .button-wrapper{
    width: 60px;
    height:60px;
  }
  .button-large-width{
    width:140px;
  }
  .screen{
    width:320px;
  }
}
